LCD Seminar workflow.json
{
  "name": "LCD Seminar workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff564bf1-b195-47b4-b904-5cf5e676b547",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        80
      ],
      "id": "a84d2b1d-8062-4879-b80b-f79aeb5b2ef9",
      "name": "Webhook",
      "webhookId": "ff564bf1-b195-47b4-b904-5cf5e676b547"
    },
    {
      "parameters": {
        "jsCode": "const bodyString = $input.first().json.body;\nconst parsed = JSON.parse(bodyString);\n\nreturn {\n  name: parsed.name,\n  email: parsed.email,\n  question: parsed.question\n};"
      },
      "id": "9565ea23-81ae-42cd-9359-26f7f4612ca9",
      "name": "Parse JSON Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your Seat for LCD is confirmed",
        "message": "<!DOCTYPE html> <html>   <body style=\"font-family: Arial, sans-serif; background-color: #f5f5f5; padding: 20px;\">     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background: #ffffff; padding: 20px; border-radius: 8px;\">       <tr>         <td>           <h2 style=\"color: #333333; margin-bottom: 10px;\">Thank You for Registering!</h2>            <p style=\"font-size: 16px; color: #444444; line-height: 1.5;\">             Thank you for registering for <strong>Life Changing Day</strong>.             I look forward to seeing you and making a meaningful impact on your life.           </p>            <br/>            <p style=\"font-size: 16px; font-weight: bold; color: #222222;\">             — Hisham           </p>         </td>       </tr>     </table>   </body> </html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        688,
        80
      ],
      "id": "f58a9f48-10cb-4e85-b724-61dd1fce2859",
      "name": "Send a message",
      "webhookId": "fde2f333-ecfc-4704-88d4-72cfd78bab25",
      "credentials": {
        "gmailOAuth2": {
          "id": "KUYhNLRudwS0eN8V",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qFQ6pzQvDdTviEV7jZXjh-ivijLdJQQuXilOAWDQEnU",
          "mode": "list",
          "cachedResultName": "LCD data ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFQ6pzQvDdTviEV7jZXjh-ivijLdJQQuXilOAWDQEnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFQ6pzQvDdTviEV7jZXjh-ivijLdJQQuXilOAWDQEnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "question": "={{ $json.question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        80
      ],
      "id": "7d5ccbdf-7b90-4cc3-a534-2b8af0373703",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EXErARfSWHU2Zbm7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse JSON Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Body": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b3a3c5f-adcb-46f6-aa69-205ae4f889aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52ea21cd1c4bdd583f81013ebc8f1adeb28ad35a1a538cf7545546f5959820f9"
  },
  "id": "8UzqNzXdYe2ji2sV",
  "tags": []
}